.title {
	color: #0000B3;
}
body, html {
	/* The image used */
	background-image: url("Welcome_Back_To_School.jpg");

	/* Full height */
	height:130%;
	width:99.5%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.boxed {
		width: 1400px;
		height: 175px;
		border: 10px solid chartreuse;
}
.boxed1 {

	border: 10px solid chartreuse
}
.boxed2 {
	width: 600px;
	height: 475px;
    border: 10px solid chartreuse
}
.boxed3 {
width:43.75%
}
#mythoughtofthereopening {
	color: #0000FF
}