h1{
	color:chartreuse;
	}

.main{
    font-size:150px;
    background: red;
}


#maindiv {
  width: 1230px;
  height: 700px;
  background: red;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {background-color: chartreuse;}
  to {background-color: green;}
}
div.myDIV {
  text-align: center;
}
#pandemiccure {
    color: magenta;
}
#ingredients {
    color: aqua;
}
#procedure {
    color: darkkhaki
}

h2 {
  color: darkgoldenrod
}